---
// Icons
import IconsCrown from "../../temp/IconsCrown.astro";
// Data Json
import dataBusiness from "../data/dataBusiness.json"; // Acceso al json
const { sedes } = dataBusiness; // Acceso a la basicsInfo
---

<section>
  <div class="testTitle">
    <h1>Sedes</h1>
  </div>
  <div class="ArraySedes">
    {
      
    }
  </div>
</section>

<script></script>

<style></style>
