---
// Importa los iconos
import IconsInstagram from "../icons/IconsInstagram.astro";
import IconsFacebook from "../icons/IconsFacebook.astro";
import IconsWhatsapp from "../icons/IconsWhatsapp.astro";
---

<section>
  <div class="Container">
    <div class="Title">
      <h1>Redes Sociales</h1>
    </div>
    <div class="Content_SocialNetworks">
      <!-- #- Componente 1 -# -->
      <div class="Card">
        <a
          class="Enlace"
          href="https://www.facebook.com/MueblesImperialPalmira"
          title={`Visitar Facebook`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="Icon">
            <IconsFacebook />
          </div>
        </a>
        <div class="Name">Facebook</div>
      </div>
      <!-- #- Componente 2 -# -->
      <div class="Card">
        <a
          class="Enlace"
          href="https://wa.link/a81jip"
          title={`Visitar WhatsApp`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="Icon">
            <IconsWhatsapp />
          </div>
        </a>
        <div class="Name">WhatsApp</div>
      </div>
      <!-- #- Componente 3 -# -->
      <div class="Card">
        <a
          class="Enlace"
          href="https://www.instagram.com/muebles_imperialpalmira/?hl=es"
          title={`Visitar Instagram`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="Icon">
            <IconsInstagram />
          </div>
        </a>
        <div class="Name">Instagram</div>
      </div>
    </div>
  </div>
</section>

<script></script>

<style>
  .Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .Title {
    font-size: xx-large;
    color: white;
  }

  .Content_SocialNetworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    width: 100%;
  }

  .Card {
  }

  .Enlace {
  }

  .Icon {
    width: 150px;
    height: 150px;
  }

  .Name {
    padding: 5px;
    font-size: xx-large;
    color: gold;
    text-align: center;
  }

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
  }

  li {
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<!--
  - Container
    - Content_SocialNetworks
      - Card
        - Enlace
          - Icon
        - Name
-->

<!-- 
{redesSociales.map(({ nombre, urls }) => (
<div class="Card">
  <a class="Enlace"
    href={urls}
    title={`Visitar ${nombre}`}
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="Icon">
      {SocialIcons[nombre] && <SocialIcons[nombre] />}
    </div>
  </a>
  <div class="Name">{nombre}</div>
</div>
))}
-->
