---
import IconsCrown from "../icons/IconsCrown.astro";
import dataBusiness from "../data/dataBusiness.json";
const { basicsInfo } = dataBusiness;
const { nombre, eslogan, email, pais, departamento, ciudad } = basicsInfo;
---

<section>
  <div class="Container">
    <div class="Content_Welcome">
      <div class="Icon">
        <IconsCrown />
      </div>
      <div class="Title">
        <h1>{nombre}</h1>
      </div>
      <div class="Additional">
        <h2>{eslogan}</h2>
      </div>
      <div class="Location">
        <p>{pais + " - " + departamento + " - " + ciudad}</p>
      </div>
      <div class="Email">
        <p>{email}</p>
      </div>
    </div>
  </div>
</section>

<style>
  .Content_Welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    flex-wrap: nowrap;
  }

  .Icon {
    margin: 2em;
  }

  .Title {
    font-family: "Times New Roman";
    -webkit-text-stroke: 3px white;
    font-size: xxx-large;
    text-transform: uppercase;
    color: #ffd400ff;
    text-shadow:
      1px 1px 2px white,
      0 0 1em white,
      0 0 1em white;
  }

  .Additional {
    font-family: "Times New Roman";
  }

  .Email{
    
  }

  .Content_Welcome h1,
  h2,
  p {
    margin: 5px;
  }

  .Content_Welcome h2,
  p {
    color: white;
  }
</style>
