---
// Icons
import IconsCrown from "../../temp/IconsCrown.astro";
// Data Json
import dataBusiness from "../data/dataBusiness.json"; // Acceso al json
const { basicsInfo } = dataBusiness; // Acceso a la basicsInfo
const { nombre, eslogan, email, pais, departamento, ciudad } = basicsInfo; // indexar partes
---

<!-- "nombre": "Muebles Imperial",
"eslogan": "Diseño-Estilo y Calidad",
"email": "mueblesimperial@Hotmailcom",
"pais": "Colombia",
"departamento": "Valle del Cauca",
"ciudad": "Palmira" -->
<section>
  <div class="testTitle">
    <h1>Welcome</h1>
  </div>
  <div class="iconsCrownMain">
    <IconsCrown />
  </div>
  <div class="Title">
    <h1>{nombre}</h1>
  </div>
  <div class="Eslogan">
    <h1>{eslogan}</h1>
  </div>
  <div class="Locacion">
    <h1>{pais + " - " + departamento + " - " + ciudad}</h1>
  </div>
  <div class="Correo Electronico">
    <h1>{email}</h1>
  </div>
</section>

<style></style>
