---
// Layout
import Layout from "../layouts/Layout.astro";
// Components
import Welcome from "../components/sections/Welcome.astro";
import Sedes from "../components/sections/Sedes.astro";
import SocialNetWorks from "../components/sections/SocialNetWorks.astro";
import Reviews from "../components/sections/Reviews.astro";
import ListProducts from "../components/sections/ListProducts.astro";
---

<Layout title="Muebles Imperial">
  <main>
    <Welcome />
    <Sedes />
    <SocialNetWorks />
    <Reviews />
    <ListProducts />
  </main>
</Layout>

<style>
  * {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
  }
</style>

<!--
Niveles Html:
- html
	- body
		- main <-- main de la pag index
			- 
 -->
